block settings
	- var core = locals
	
block vars
	- var lang = 'es'
	- var title = 'My responsive email - project'
	- var pageBgcolor = "#ffffff"
	- var pageWidth = 600


doctype html
html( class="no-js", lang=lang)
	head
		meta(charset="utf-8")
		title= title
		include ../partials/_head.pug
	body(style="background:{#pageBgcolor};margin:0;mso-margin-alt:0;")
		
		table(cellpadding="0", cellspacing="0", border="0", width="100%", bgcolor= pageBgcolor)
			tr
				td(width="100",valign="top", align="center", bgcolor= pageBgcolor)

					block main
