extends layouts/main.pug

block vars
	- var lang = 'es'
	- var template = 'tpl__home'
	- var page = 'home'
	- var pageTitle = 'Asteroids homepage'


block main
	article
		.wrapper
			p (Main content) <a href="200x200.png">200x</a>
			p
				img(src="200x200.png")
